apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    server:
      root_url: "https://monitoring.stefanmuraru.com"
    auth:
      disable_login_form: "true"
    auth.generic_oauth:
      enabled: "true"
      name: "OAuth"
      allow_sign_up: "true"
      client_id: "${GF_OAUTH_CLIENT_ID}"
      client_secret: "${GF_OAUTH_CLIENT_SECRET}"
      auth_url: "https://${GF_OAUTH_DOMAIN}/authorize"
      token_url: "https://${GF_OAUTH_DOMAIN}/oauth/token"
      api_url: "https://${GF_OAUTH_DOMAIN}/userinfo"
      use_pkce: "true"
      use_refresh_token: "true"
      scopes: "openid profile email offline_access"
      auto_assign_org_role: "Viewer"
      role_attribute_path: "email == '${GF_ADMIN_EMAIL}' && 'Admin' || 'Viewer'"
      allowed_emails: "${GF_ADMIN_EMAIL}"
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
            - name: grafana
              image: grafana/grafana:12.3.0
              envFrom:
                - secretRef:
                    name: grafana-external-credentials
  persistentVolumeClaim:
    spec:
      storageClassName: zoom
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  selector:
    app: grafana