apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
spec:
  serviceAccountName: prometheus
  version: v3.9.1
  replicas: 1
  retention: 30d
  retentionSize: 80GB

  securityContext:
    runAsUser: 1000
    runAsNonRoot: true
    fsGroup: 2000

  resources:
    requests:
      cpu: 200m
      memory: 2Gi
    limits:
      cpu: 1000m
      memory: 4Gi

  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: zoom
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 100Gi

  serviceMonitorSelector: {}
  podMonitorSelector: {}
  probeSelector: {}

  serviceMonitorNamespaceSelector: {}
  podMonitorNamespaceSelector: {}

  externalLabels:
    cluster: flipper

  additionalScrapeConfigs:
    name: external-scrape-configs
    key: configs.yaml

  portName: web
  enableRemoteWriteReceiver: true
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9090
      targetPort: web
  selector:
    prometheus: prometheus